openapi: 3.0.3
info:
  title: Klarity API
  description: Unified REST API for Polymarket intelligence — markets, events, leaderboard, and AI-powered analytics.
  version: 2.0.0
servers:
  - url: https://api.klarity.trade
    description: Production
  - url: http://localhost:8080
    description: Local development
paths:
  /health:
    get:
      summary: Health check
      tags:
        - Infrastructure
      description: Checks ClickHouse connectivity and returns service health status.
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  database:
                    type: string
                  timestamp:
                    type: string
                required:
                  - status
                  - database
                  - timestamp
                additionalProperties: false
  /markets/recently-started:
    get:
      summary: Get recently started markets
      tags:
        - Markets
      description: Returns active markets sorted by creation date (newest first).
      parameters:
        - schema:
            default: 10
            type: integer
            minimum: 1
            maximum: 50
          in: query
          name: limit
          required: false
      responses:
        "200":
          description: Default Response
  /markets/ending-soon:
    get:
      summary: Get markets ending soon
      tags:
        - Markets
      description: Returns active markets sorted by end date (soonest first).
      parameters:
        - schema:
            default: 10
            type: integer
            minimum: 1
            maximum: 50
          in: query
          name: limit
          required: false
      responses:
        "200":
          description: Default Response
  /markets/{slug}/holders:
    get:
      summary: Get paginated holders for a market
      tags:
        - Markets
      description: Returns holder positions with classification (whale, smart money, insider), optional profile enrichment,
        and cursor-based pagination.
      parameters:
        - schema:
            type: string
            pattern: ^\d+$
          in: query
          name: limit
          required: false
        - schema:
            type: string
            pattern: ^\d+$
          in: query
          name: offset
          required: false
        - schema:
            type: string
          in: query
          name: cursor
          required: false
        - schema:
            type: string
            enum:
              - pnl
              - size
          in: query
          name: sortBy
          required: false
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: sortDirection
          required: false
        - schema:
            type: string
          in: query
          name: includeProfiles
          required: false
        - schema:
            type: string
            minLength: 1
          in: path
          name: slug
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        isPortfolioWhale:
                          type: boolean
                        isSmartMoney:
                          type: boolean
                        isInsider:
                          type: boolean
                        winRatePct:
                          nullable: true
                          type: number
                        totalRealizedPnlUsd:
                          nullable: true
                          type: number
                        closedPositions:
                          nullable: true
                          type: number
                        portfolioValueUsd:
                          nullable: true
                          type: number
                        ageHours:
                          nullable: true
                          type: number
                        address:
                          type: string
                        profile:
                          nullable: true
                          type: object
                          properties:
                            name:
                              nullable: true
                              type: string
                            pseudonym:
                              nullable: true
                              type: string
                            displayName:
                              nullable: true
                              type: string
                            profileImage:
                              nullable: true
                              type: string
                            xUsername:
                              nullable: true
                              type: string
                            verifiedBadge:
                              type: boolean
                            createdAt:
                              nullable: true
                              type: string
                          required:
                            - name
                            - pseudonym
                            - displayName
                            - profileImage
                            - xUsername
                            - verifiedBadge
                            - createdAt
                          additionalProperties: {}
                        remainingShares:
                          type: number
                        boughtShares:
                          nullable: true
                          type: number
                        soldShares:
                          nullable: true
                          type: number
                        avgEntryPriceUsd:
                          nullable: true
                          type: number
                        realizedPnlUsd:
                          nullable: true
                          type: number
                        tokenId:
                          nullable: true
                          type: string
                        priceUsd:
                          nullable: true
                          type: number
                        unrealizedPnlUsd:
                          nullable: true
                          type: number
                        remainingValueUsd:
                          nullable: true
                          type: number
                        marketsTradedCount:
                          nullable: true
                          type: number
                      required:
                        - isPortfolioWhale
                        - isSmartMoney
                        - isInsider
                        - winRatePct
                        - totalRealizedPnlUsd
                        - closedPositions
                        - portfolioValueUsd
                        - ageHours
                        - address
                        - profile
                        - remainingShares
                        - boughtShares
                        - soldShares
                        - avgEntryPriceUsd
                        - realizedPnlUsd
                        - tokenId
                        - priceUsd
                        - unrealizedPnlUsd
                        - remainingValueUsd
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      marketId:
                        type: string
                      slug:
                        type: string
                      count:
                        type: number
                      limit:
                        type: number
                      hasMore:
                        type: boolean
                      nextCursor:
                        nullable: true
                        type: string
                      eventTitle:
                        nullable: true
                        type: string
                      marketQuestion:
                        nullable: true
                        type: string
                      iconUrl:
                        nullable: true
                        type: string
                    required:
                      - marketId
                      - slug
                      - count
                      - limit
                      - hasMore
                      - nextCursor
                      - eventTitle
                      - marketQuestion
                      - iconUrl
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
  /markets/{slug}/whales:
    get:
      summary: Get portfolio whales for a market
      tags:
        - Markets
      description: Returns participants classified as portfolio whales (large portfolio value) for the given market.
      parameters:
        - schema:
            type: string
            pattern: ^\d+$
          in: query
          name: lookbackHours
          required: false
        - schema:
            type: string
            minLength: 1
          in: path
          name: slug
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        isPortfolioWhale:
                          type: boolean
                        isSmartMoney:
                          type: boolean
                        isInsider:
                          type: boolean
                        winRatePct:
                          nullable: true
                          type: number
                        totalRealizedPnlUsd:
                          nullable: true
                          type: number
                        closedPositions:
                          nullable: true
                          type: number
                        portfolioValueUsd:
                          nullable: true
                          type: number
                        ageHours:
                          nullable: true
                          type: number
                        address:
                          type: string
                        profile:
                          nullable: true
                          type: object
                          properties:
                            name:
                              nullable: true
                              type: string
                            pseudonym:
                              nullable: true
                              type: string
                            displayName:
                              nullable: true
                              type: string
                            profileImage:
                              nullable: true
                              type: string
                            xUsername:
                              nullable: true
                              type: string
                            verifiedBadge:
                              type: boolean
                            createdAt:
                              nullable: true
                              type: string
                          required:
                            - name
                            - pseudonym
                            - displayName
                            - profileImage
                            - xUsername
                            - verifiedBadge
                            - createdAt
                          additionalProperties: {}
                        shares:
                          type: number
                        positionValueUsd:
                          nullable: true
                          type: number
                        walletAgeHours:
                          nullable: true
                          type: number
                      required:
                        - isPortfolioWhale
                        - isSmartMoney
                        - isInsider
                        - winRatePct
                        - totalRealizedPnlUsd
                        - closedPositions
                        - portfolioValueUsd
                        - ageHours
                        - address
                        - profile
                        - shares
                        - positionValueUsd
                        - walletAgeHours
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      marketId:
                        type: string
                      slug:
                        type: string
                    required:
                      - marketId
                      - slug
                    additionalProperties: {}
                required:
                  - data
                  - meta
                additionalProperties: false
  /markets/{slug}/insiders:
    get:
      summary: Get insider-flagged participants for a market
      tags:
        - Markets
      description: Returns participants classified as insiders (new accounts with large early positions).
      parameters:
        - schema:
            type: string
            minLength: 1
          in: path
          name: slug
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        isPortfolioWhale:
                          type: boolean
                        isSmartMoney:
                          type: boolean
                        isInsider:
                          type: boolean
                        winRatePct:
                          nullable: true
                          type: number
                        totalRealizedPnlUsd:
                          nullable: true
                          type: number
                        closedPositions:
                          nullable: true
                          type: number
                        portfolioValueUsd:
                          nullable: true
                          type: number
                        ageHours:
                          nullable: true
                          type: number
                        address:
                          type: string
                        profile:
                          nullable: true
                          type: object
                          properties:
                            name:
                              nullable: true
                              type: string
                            pseudonym:
                              nullable: true
                              type: string
                            displayName:
                              nullable: true
                              type: string
                            profileImage:
                              nullable: true
                              type: string
                            xUsername:
                              nullable: true
                              type: string
                            verifiedBadge:
                              type: boolean
                            createdAt:
                              nullable: true
                              type: string
                          required:
                            - name
                            - pseudonym
                            - displayName
                            - profileImage
                            - xUsername
                            - verifiedBadge
                            - createdAt
                          additionalProperties: {}
                        shares:
                          type: number
                        positionValueUsd:
                          nullable: true
                          type: number
                        walletAgeHours:
                          nullable: true
                          type: number
                      required:
                        - isPortfolioWhale
                        - isSmartMoney
                        - isInsider
                        - winRatePct
                        - totalRealizedPnlUsd
                        - closedPositions
                        - portfolioValueUsd
                        - ageHours
                        - address
                        - profile
                        - shares
                        - positionValueUsd
                        - walletAgeHours
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      marketId:
                        type: string
                      slug:
                        type: string
                    required:
                      - marketId
                      - slug
                    additionalProperties: {}
                required:
                  - data
                  - meta
                additionalProperties: false
  /markets/{slug}/smartmoney:
    get:
      summary: Get smart money participants for a market
      tags:
        - Markets
      description: Returns participants classified as smart money (high win rate, high PnL, many closed positions).
      parameters:
        - schema:
            type: string
            minLength: 1
          in: path
          name: slug
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        isPortfolioWhale:
                          type: boolean
                        isSmartMoney:
                          type: boolean
                        isInsider:
                          type: boolean
                        winRatePct:
                          nullable: true
                          type: number
                        totalRealizedPnlUsd:
                          nullable: true
                          type: number
                        closedPositions:
                          nullable: true
                          type: number
                        portfolioValueUsd:
                          nullable: true
                          type: number
                        ageHours:
                          nullable: true
                          type: number
                        address:
                          type: string
                        profile:
                          nullable: true
                          type: object
                          properties:
                            name:
                              nullable: true
                              type: string
                            pseudonym:
                              nullable: true
                              type: string
                            displayName:
                              nullable: true
                              type: string
                            profileImage:
                              nullable: true
                              type: string
                            xUsername:
                              nullable: true
                              type: string
                            verifiedBadge:
                              type: boolean
                            createdAt:
                              nullable: true
                              type: string
                          required:
                            - name
                            - pseudonym
                            - displayName
                            - profileImage
                            - xUsername
                            - verifiedBadge
                            - createdAt
                          additionalProperties: {}
                        shares:
                          type: number
                        positionValueUsd:
                          nullable: true
                          type: number
                        walletAgeHours:
                          nullable: true
                          type: number
                      required:
                        - isPortfolioWhale
                        - isSmartMoney
                        - isInsider
                        - winRatePct
                        - totalRealizedPnlUsd
                        - closedPositions
                        - portfolioValueUsd
                        - ageHours
                        - address
                        - profile
                        - shares
                        - positionValueUsd
                        - walletAgeHours
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      marketId:
                        type: string
                      slug:
                        type: string
                    required:
                      - marketId
                      - slug
                    additionalProperties: {}
                required:
                  - data
                  - meta
                additionalProperties: false
  /markets/{slug}/analytics:
    get:
      summary: Get market analytics aggregate
      tags:
        - Markets
      description: Returns aggregated analytics including holder counts, PnL breakdown, and trader type distribution.
      parameters:
        - schema:
            type: string
            minLength: 1
          in: path
          name: slug
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  holders:
                    type: object
                    properties:
                      yes_holders:
                        type: number
                      no_holders:
                        type: number
                      total_holders:
                        type: number
                    required:
                      - yes_holders
                      - no_holders
                      - total_holders
                    additionalProperties: false
                  pnl:
                    type: object
                    properties:
                      yes_holders_total_pnl:
                        type: number
                      no_holders_total_pnl:
                        type: number
                      total_pnl:
                        type: number
                    required:
                      - yes_holders_total_pnl
                      - no_holders_total_pnl
                      - total_pnl
                    additionalProperties: false
                  trader_types:
                    type: object
                    properties:
                      yes:
                        type: object
                        properties:
                          insider_holders:
                            type: number
                          smart_money_holders:
                            type: number
                          whale_holders:
                            type: number
                        required:
                          - insider_holders
                          - smart_money_holders
                          - whale_holders
                        additionalProperties: false
                      no:
                        type: object
                        properties:
                          insider_holders:
                            type: number
                          smart_money_holders:
                            type: number
                          whale_holders:
                            type: number
                        required:
                          - insider_holders
                          - smart_money_holders
                          - whale_holders
                        additionalProperties: false
                    required:
                      - yes
                      - no
                    additionalProperties: false
                  meta:
                    type: object
                    properties:
                      marketId:
                        type: string
                      slug:
                        type: string
                    required:
                      - marketId
                      - slug
                    additionalProperties: false
                required:
                  - holders
                  - pnl
                  - trader_types
                  - meta
                additionalProperties: false
  /markets/{slug}/trades:
    get:
      summary: Get recent trades for a market
      tags:
        - Markets
      description: Returns paginated trades with trader classification enrichment and optional profile data.
      parameters:
        - schema:
            type: string
            pattern: ^\d+$
          in: query
          name: limit
          required: false
          description: Maximum trades to return (1-100, default 25)
        - schema:
            type: string
            pattern: ^\d+$
          in: query
          name: offset
          required: false
          description: Offset for pagination
        - schema:
            type: string
          in: query
          name: includeProfiles
          required: false
          description: Include Polymarket profile data
        - schema:
            type: string
            minLength: 1
          in: path
          name: slug
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        isPortfolioWhale:
                          type: boolean
                        isSmartMoney:
                          type: boolean
                        isInsider:
                          type: boolean
                        winRatePct:
                          nullable: true
                          type: number
                        totalRealizedPnlUsd:
                          nullable: true
                          type: number
                        closedPositions:
                          nullable: true
                          type: number
                        portfolioValueUsd:
                          nullable: true
                          type: number
                        ageHours:
                          nullable: true
                          type: number
                        id:
                          type: string
                        address:
                          type: string
                        profile:
                          nullable: true
                          type: object
                          properties:
                            name:
                              nullable: true
                              type: string
                            pseudonym:
                              nullable: true
                              type: string
                            displayName:
                              nullable: true
                              type: string
                            profileImage:
                              nullable: true
                              type: string
                            xUsername:
                              nullable: true
                              type: string
                            verifiedBadge:
                              type: boolean
                            createdAt:
                              nullable: true
                              type: string
                          required:
                            - name
                            - pseudonym
                            - displayName
                            - profileImage
                            - xUsername
                            - verifiedBadge
                            - createdAt
                          additionalProperties: {}
                        priceUsd:
                          type: number
                        shares:
                          type: number
                        valueUsd:
                          type: number
                        timestamp:
                          type: string
                        conditionId:
                          type: string
                        marketSlug:
                          nullable: true
                          type: string
                        eventTitle:
                          nullable: true
                          type: string
                        marketQuestion:
                          nullable: true
                          type: string
                        outcomeTitle:
                          nullable: true
                          type: string
                        iconUrl:
                          nullable: true
                          type: string
                      required:
                        - isPortfolioWhale
                        - isSmartMoney
                        - isInsider
                        - winRatePct
                        - totalRealizedPnlUsd
                        - closedPositions
                        - portfolioValueUsd
                        - ageHours
                        - id
                        - address
                        - profile
                        - priceUsd
                        - shares
                        - valueUsd
                        - timestamp
                        - conditionId
                        - marketSlug
                        - eventTitle
                        - marketQuestion
                        - outcomeTitle
                        - iconUrl
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      marketId:
                        type: string
                      slug:
                        nullable: true
                        type: string
                      limit:
                        type: number
                      offset:
                        type: number
                      hasMore:
                        type: boolean
                    required:
                      - marketId
                      - slug
                      - limit
                      - offset
                      - hasMore
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
  /markets/discover:
    post:
      summary: Discover markets with filters, deltas, and cursor pagination
      tags:
        - Markets
      description: Query the pre-computed discovery serving table with metric filters, delta calculations, tag filters, and
        cursor-based pagination. Use explain=true in non-production for SQL debugging.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metrics:
                  type: array
                  items:
                    type: string
                    enum:
                      - volume
                      - liquidity
                      - holders_total
                      - holders_yes
                      - holders_no
                      - holders_whale
                      - holders_smart_money
                      - holders_insider
                      - price
                deltas:
                  type: array
                  items:
                    type: object
                    properties:
                      metric:
                        type: string
                        enum:
                          - volume
                          - liquidity
                          - holders_total
                          - holders_yes
                          - holders_no
                          - holders_whale
                          - holders_smart_money
                          - holders_insider
                          - price
                      window:
                        type: string
                        enum:
                          - 5m
                          - 15m
                          - 30m
                          - 1h
                          - 4h
                          - 24h
                          - 7d
                          - 30d
                      since:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      compare:
                        type: string
                        enum:
                          - delta_abs
                          - delta_pct
                    required:
                      - metric
                      - compare
                filters:
                  allOf:
                    - $ref: "#/components/schemas/schema0Input"
                sort:
                  anyOf:
                    - type: object
                      properties:
                        metric:
                          type: string
                          enum:
                            - volume
                            - liquidity
                            - holders_total
                            - holders_yes
                            - holders_no
                            - holders_whale
                            - holders_smart_money
                            - holders_insider
                            - price
                            - end_date
                            - created_at
                        direction:
                          default: desc
                          type: string
                          enum:
                            - asc
                            - desc
                        window:
                          type: string
                          enum:
                            - 5m
                            - 15m
                            - 30m
                            - 1h
                            - 4h
                            - 24h
                            - 7d
                            - 30d
                        compare:
                          type: string
                          enum:
                            - delta_abs
                            - delta_pct
                      required:
                        - metric
                    - type: object
                      properties:
                        primary:
                          type: object
                          properties:
                            metric:
                              type: string
                              enum:
                                - volume
                                - liquidity
                                - holders_total
                                - holders_yes
                                - holders_no
                                - holders_whale
                                - holders_smart_money
                                - holders_insider
                                - price
                                - end_date
                                - created_at
                            direction:
                              default: desc
                              type: string
                              enum:
                                - asc
                                - desc
                            window:
                              type: string
                              enum:
                                - 5m
                                - 15m
                                - 30m
                                - 1h
                                - 4h
                                - 24h
                                - 7d
                                - 30d
                            compare:
                              type: string
                              enum:
                                - delta_abs
                                - delta_pct
                          required:
                            - metric
                        fallback:
                          type: object
                          properties:
                            metric:
                              type: string
                              enum:
                                - volume
                                - liquidity
                                - holders_total
                                - holders_yes
                                - holders_no
                                - holders_whale
                                - holders_smart_money
                                - holders_insider
                                - price
                                - end_date
                                - created_at
                            direction:
                              default: desc
                              type: string
                              enum:
                                - asc
                                - desc
                            window:
                              type: string
                              enum:
                                - 5m
                                - 15m
                                - 30m
                                - 1h
                                - 4h
                                - 24h
                                - 7d
                                - 30d
                            compare:
                              type: string
                              enum:
                                - delta_abs
                                - delta_pct
                          required:
                            - metric
                      required:
                        - primary
                pagination:
                  type: object
                  properties:
                    cursor:
                      type: string
                    limit:
                      default: 20
                      type: number
                      minimum: 1
                      maximum: 100
                options:
                  type: object
                  properties:
                    minVolume:
                      default: 0
                      type: number
                      minimum: 0
                    search:
                      type: string
                      maxLength: 200
                    createdAfter:
                      type: string
                      format: date-time
                      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    endingBefore:
                      type: string
                      format: date-time
                      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    endingAfter:
                      type: string
                      format: date-time
                      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                require:
                  type: array
                  items:
                    type: object
                    properties:
                      metric:
                        type: string
                        enum:
                          - volume
                          - liquidity
                          - holders_total
                      window:
                        type: string
                        enum:
                          - 5m
                          - 15m
                          - 30m
                          - 1h
                          - 4h
                          - 24h
                          - 7d
                          - 30d
                      compare:
                        type: string
                        enum:
                          - delta_abs
                          - delta_pct
                    required:
                      - metric
                      - window
                      - compare
                min_age_seconds:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                nulls:
                  type: string
                  enum:
                    - exclude
                    - last
                    - zero
                as_of:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                tags_any:
                  maxItems: 50
                  type: array
                  items:
                    type: string
                    maxLength: 200
                tags_all:
                  maxItems: 50
                  type: array
                  items:
                    type: string
                    maxLength: 200
                tags_none:
                  maxItems: 50
                  type: array
                  items:
                    type: string
                    maxLength: 200
                price_min:
                  type: number
                  minimum: 0
                  maximum: 1
                price_max:
                  type: number
                  minimum: 0
                  maximum: 1
                end_date_min:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                end_date_max:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                created_at_min:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                created_at_max:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                stages:
                  minItems: 1
                  maxItems: 5
                  type: array
                  items:
                    type: string
                    enum:
                      - new
                      - building
                      - peak
                      - settling
                      - resolving
                search:
                  type: string
                  maxLength: 200
                explain:
                  default: false
                  type: boolean
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  markets:
                    type: array
                    items:
                      type: object
                      properties:
                        market_id:
                          type: string
                        condition_id:
                          type: string
                        slug:
                          type: string
                        question:
                          type: string
                        category:
                          type: string
                        active:
                          type: boolean
                        closed:
                          type: boolean
                        end_date:
                          nullable: true
                          type: string
                        created_at:
                          nullable: true
                          type: string
                        price:
                          type: number
                        age_seconds:
                          type: number
                        available_windows:
                          type: array
                          items:
                            type: string
                        stage:
                          type: string
                          enum:
                            - new
                            - building
                            - peak
                            - settling
                            - resolving
                        metrics:
                          type: object
                          properties:
                            volume:
                              type: number
                            liquidity:
                              type: number
                            holders_total:
                              type: number
                            holders_yes:
                              type: number
                            holders_no:
                              type: number
                            holders_whale:
                              type: number
                            holders_smart_money:
                              type: number
                            holders_insider:
                              type: number
                            price:
                              type: number
                            smart_money_side:
                              type: string
                              enum:
                                - yes
                                - no
                                - split
                            smart_money_conviction:
                              nullable: true
                              type: number
                            whale_side:
                              type: string
                              enum:
                                - yes
                                - no
                                - split
                            whale_conviction:
                              nullable: true
                              type: number
                            insider_side:
                              type: string
                              enum:
                                - yes
                                - no
                                - split
                            insider_conviction:
                              type: number
                            insider_recent_count:
                              type: number
                          additionalProperties: false
                        deltas:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              abs:
                                nullable: true
                                type: number
                              pct:
                                nullable: true
                                type: number
                              status:
                                type: string
                                enum:
                                  - ok
                                  - too_new
                                  - missing_history
                                  - div0
                            required:
                              - status
                            additionalProperties: false
                        tags:
                          type: array
                          items:
                            type: string
                        outcomePrices:
                          type: array
                          items:
                            type: string
                        clobTokenIds:
                          type: array
                          items:
                            type: string
                        event_id:
                          type: string
                      required:
                        - market_id
                        - condition_id
                        - slug
                        - question
                        - category
                        - active
                        - closed
                        - age_seconds
                        - available_windows
                        - stage
                        - metrics
                        - deltas
                      additionalProperties: {}
                  pagination:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                      next_cursor:
                        type: string
                    required:
                      - has_more
                    additionalProperties: false
                  explain:
                    type: object
                    properties:
                      phase1_sql:
                        type: string
                      phase2_sql:
                        type: string
                    additionalProperties: false
                required:
                  - markets
                  - pagination
                additionalProperties: false
  /markets/{slug}/volume-profile:
    get:
      summary: Get volume profile for a market
      tags:
        - Markets
      description: Returns hourly volume buckets showing when trading activity occurred throughout market lifetime.
      parameters:
        - schema:
            type: string
            minLength: 1
          in: path
          name: slug
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        hour:
                          type: string
                        volumeUsd:
                          type: number
                        tradeCount:
                          type: number
                        buyVolumeUsd:
                          type: number
                        sellVolumeUsd:
                          type: number
                        uniqueTraders:
                          type: number
                      required:
                        - hour
                        - volumeUsd
                        - tradeCount
                        - buyVolumeUsd
                        - sellVolumeUsd
                        - uniqueTraders
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      conditionId:
                        type: string
                      slug:
                        type: string
                      totalVolumeUsd:
                        type: number
                      totalTrades:
                        type: number
                      firstTradeAt:
                        nullable: true
                        type: string
                      lastTradeAt:
                        nullable: true
                        type: string
                    required:
                      - conditionId
                      - slug
                      - totalVolumeUsd
                      - totalTrades
                      - firstTradeAt
                      - lastTradeAt
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
  /markets/{slug}/entry-timing:
    get:
      summary: Get entry timing analysis for a market
      tags:
        - Markets
      description: Returns volume over time with cumulative totals, showing optimal entry windows.
      parameters:
        - schema:
            default: hourly
            type: string
            enum:
              - hourly
              - daily
          in: query
          name: granularity
          required: false
        - schema:
            default: 90
            type: integer
            minimum: 1
            maximum: 365
          in: query
          name: days
          required: false
        - schema:
            type: string
            minLength: 1
          in: path
          name: slug
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        bucket:
                          type: string
                        volumeUsd:
                          type: number
                        tradeCount:
                          type: number
                        cumulativeVolumeUsd:
                          type: number
                      required:
                        - bucket
                        - volumeUsd
                        - tradeCount
                        - cumulativeVolumeUsd
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      conditionId:
                        type: string
                      slug:
                        type: string
                      granularity:
                        type: string
                        enum:
                          - hourly
                          - daily
                      totalVolumeUsd:
                        type: number
                    required:
                      - conditionId
                      - slug
                      - granularity
                      - totalVolumeUsd
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
  /markets/{slug}/top-traders:
    get:
      summary: Get top traders for a market
      tags:
        - Markets
      description: Returns per-market trader leaderboard ranked by volume, with buy/sell direction.
      parameters:
        - schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
          in: query
          name: limit
          required: false
        - schema:
            default: 0
            type: integer
            minimum: 0
            maximum: 9007199254740991
          in: query
          name: offset
          required: false
        - schema:
            type: string
            minLength: 1
          in: path
          name: slug
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        trader:
                          type: string
                        volumeUsd:
                          type: number
                        buyVolumeUsd:
                          type: number
                        sellVolumeUsd:
                          type: number
                        tradeCount:
                          type: number
                        firstTradeAt:
                          type: string
                        lastTradeAt:
                          type: string
                        netDirection:
                          type: string
                          enum:
                            - buyer
                            - seller
                            - neutral
                      required:
                        - trader
                        - volumeUsd
                        - buyVolumeUsd
                        - sellVolumeUsd
                        - tradeCount
                        - firstTradeAt
                        - lastTradeAt
                        - netDirection
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      conditionId:
                        type: string
                      slug:
                        type: string
                      limit:
                        type: number
                      offset:
                        type: number
                      hasMore:
                        type: boolean
                    required:
                      - conditionId
                      - slug
                      - limit
                      - offset
                      - hasMore
                    additionalProperties: false
                required:
                  - data
                  - meta
                additionalProperties: false
  /events/trending-tags:
    get:
      summary: Get trending tags ranked by volume activity
      tags:
        - Events
      parameters:
        - schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 50
          in: query
          name: limit
          required: false
        - schema:
            default: 24h
            type: string
            enum:
              - 5m
              - 1h
              - 24h
          in: query
          name: window
          required: false
        - schema:
            default: 0
            type: number
            minimum: 0
          in: query
          name: min_volume
          required: false
        - schema:
            default: 1
            type: integer
            minimum: 1
            maximum: 9007199254740991
          in: query
          name: min_events
          required: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          type: string
                        total_volume:
                          type: number
                        volume_change_abs:
                          nullable: true
                          type: number
                        volume_change_pct:
                          nullable: true
                          type: number
                        event_count:
                          type: number
                        total_liquidity:
                          type: number
                      required:
                        - tag
                        - total_volume
                        - volume_change_abs
                        - volume_change_pct
                        - event_count
                        - total_liquidity
                      additionalProperties: false
                  window:
                    type: string
                  cached_at:
                    nullable: true
                    type: string
                required:
                  - tags
                  - window
                  - cached_at
                additionalProperties: false
  /events/discover:
    post:
      summary: Discover events with filters, deltas, and cursor pagination
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metrics:
                  type: array
                  items:
                    type: string
                    enum:
                      - volume
                      - liquidity
                      - market_count
                      - holders_total
                      - holders_yes
                      - holders_no
                      - holders_whale
                      - holders_smart_money
                      - holders_insider
                      - price_movement
                deltas:
                  type: array
                  items:
                    type: object
                    properties:
                      metric:
                        type: string
                        enum:
                          - volume
                          - liquidity
                          - market_count
                          - holders_total
                          - holders_yes
                          - holders_no
                          - holders_whale
                          - holders_smart_money
                          - holders_insider
                          - price_movement
                      window:
                        type: string
                        enum:
                          - 5m
                          - 15m
                          - 30m
                          - 1h
                          - 4h
                          - 24h
                          - 7d
                          - 30d
                      since:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      compare:
                        type: string
                        enum:
                          - delta_abs
                          - delta_pct
                    required:
                      - metric
                      - compare
                filters:
                  allOf:
                    - $ref: "#/components/schemas/schema0Input"
                sort:
                  type: object
                  properties:
                    metric:
                      type: string
                      enum:
                        - volume
                        - liquidity
                        - market_count
                        - holders_total
                        - holders_yes
                        - holders_no
                        - holders_whale
                        - holders_smart_money
                        - holders_insider
                        - price_movement
                        - end_date
                        - creation_date
                    direction:
                      default: desc
                      type: string
                      enum:
                        - asc
                        - desc
                    window:
                      type: string
                      enum:
                        - 5m
                        - 15m
                        - 30m
                        - 1h
                        - 4h
                        - 24h
                        - 7d
                        - 30d
                    compare:
                      type: string
                      enum:
                        - delta_abs
                        - delta_pct
                  required:
                    - metric
                pagination:
                  type: object
                  properties:
                    cursor:
                      type: string
                    limit:
                      default: 20
                      type: number
                      minimum: 1
                      maximum: 100
                options:
                  type: object
                  properties:
                    minVolume:
                      default: 0
                      type: number
                      minimum: 0
                require:
                  type: array
                  items:
                    type: object
                    properties:
                      metric:
                        type: string
                        enum:
                          - volume
                          - liquidity
                          - market_count
                          - holders_total
                          - holders_yes
                          - holders_no
                          - holders_whale
                          - holders_smart_money
                          - holders_insider
                          - price_movement
                      window:
                        type: string
                        enum:
                          - 5m
                          - 15m
                          - 30m
                          - 1h
                          - 4h
                          - 24h
                          - 7d
                          - 30d
                      compare:
                        type: string
                        enum:
                          - delta_abs
                          - delta_pct
                    required:
                      - metric
                      - window
                      - compare
                min_age_seconds:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
                nulls:
                  type: string
                  enum:
                    - exclude
                    - last
                    - zero
                as_of:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                tags_any:
                  maxItems: 50
                  type: array
                  items:
                    type: string
                    maxLength: 200
                tags_all:
                  maxItems: 50
                  type: array
                  items:
                    type: string
                    maxLength: 200
                tags_none:
                  maxItems: 50
                  type: array
                  items:
                    type: string
                    maxLength: 200
                end_date_min:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                end_date_max:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                created_at_min:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                created_at_max:
                  type: string
                  format: date-time
                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                search:
                  type: string
                  maxLength: 200
                include_markets:
                  default: all
                  description: 'Controls which markets are included in each event. "all": every market (default). "real": only markets
                    with real activity — keeps markets where active=true OR volume > 0 OR liquidity > 0, strips
                    zero-volume zero-liquidity placeholder markets (e.g. "Will Person XY..." with no trading history).
                    "none": no markets array (fastest, use when only event-level data is needed).'
                  type: string
                  enum:
                    - all
                    - real
                    - none
                explain:
                  default: false
                  type: boolean
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        event_id:
                          type: string
                        id:
                          type: string
                        slug:
                          type: string
                        title:
                          type: string
                        subtitle:
                          type: string
                        description:
                          type: string
                        category:
                          type: string
                        subcategory:
                          type: string
                        image:
                          type: string
                        icon:
                          type: string
                        active:
                          type: boolean
                        closed:
                          type: boolean
                        end_date:
                          nullable: true
                          type: string
                        creation_date:
                          nullable: true
                          type: string
                        neg_risk:
                          type: boolean
                        enable_neg_risk:
                          type: boolean
                        parent_event_id:
                          nullable: true
                          type: string
                        age_seconds:
                          type: number
                        available_windows:
                          type: array
                          items:
                            type: string
                        metrics:
                          type: object
                          properties:
                            volume:
                              type: number
                            liquidity:
                              type: number
                            market_count:
                              type: number
                            holders_total:
                              type: number
                            holders_yes:
                              type: number
                            holders_no:
                              type: number
                            holders_whale:
                              type: number
                            holders_smart_money:
                              type: number
                            holders_insider:
                              type: number
                          additionalProperties: false
                        deltas:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              abs:
                                nullable: true
                                type: number
                              pct:
                                nullable: true
                                type: number
                              status:
                                type: string
                                enum:
                                  - ok
                                  - too_new
                                  - missing_history
                                  - div0
                            required:
                              - status
                            additionalProperties: false
                        tags:
                          type: array
                          items:
                            type: string
                        market_count:
                          type: number
                        markets:
                          type: array
                          items:
                            type: object
                            additionalProperties: {}
                      required:
                        - event_id
                        - id
                        - slug
                        - title
                        - subtitle
                        - description
                        - category
                        - subcategory
                        - image
                        - icon
                        - active
                        - closed
                        - neg_risk
                        - enable_neg_risk
                        - age_seconds
                        - available_windows
                        - metrics
                        - deltas
                        - tags
                        - market_count
                      additionalProperties: {}
                  pagination:
                    type: object
                    properties:
                      has_more:
                        type: boolean
                      next_cursor:
                        type: string
                    required:
                      - has_more
                    additionalProperties: false
                  explain:
                    type: object
                    properties:
                      phase1_sql:
                        type: string
                      phase2_sql:
                        type: string
                    additionalProperties: false
                required:
                  - events
                  - pagination
                additionalProperties: false
  /events/{slug}:
    get:
      summary: Get a single event by slug or ID with full metrics and deltas
      tags:
        - Events
      parameters:
        - schema:
            type: string
            minLength: 1
          in: path
          name: slug
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_id:
                    type: string
                  id:
                    type: string
                  slug:
                    type: string
                  title:
                    type: string
                  subtitle:
                    type: string
                  description:
                    type: string
                  category:
                    type: string
                  subcategory:
                    type: string
                  image:
                    type: string
                  icon:
                    type: string
                  active:
                    type: boolean
                  closed:
                    type: boolean
                  end_date:
                    nullable: true
                    type: string
                  creation_date:
                    nullable: true
                    type: string
                  neg_risk:
                    type: boolean
                  enable_neg_risk:
                    type: boolean
                  parent_event_id:
                    nullable: true
                    type: string
                  age_seconds:
                    type: number
                  available_windows:
                    type: array
                    items:
                      type: string
                  metrics:
                    type: object
                    properties:
                      volume:
                        type: number
                      liquidity:
                        type: number
                      market_count:
                        type: number
                      holders_total:
                        type: number
                      holders_yes:
                        type: number
                      holders_no:
                        type: number
                      holders_whale:
                        type: number
                      holders_smart_money:
                        type: number
                      holders_insider:
                        type: number
                    additionalProperties: false
                  deltas:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        abs:
                          nullable: true
                          type: number
                        pct:
                          nullable: true
                          type: number
                        status:
                          type: string
                          enum:
                            - ok
                            - too_new
                            - missing_history
                            - div0
                      required:
                        - status
                      additionalProperties: false
                  tags:
                    type: array
                    items:
                      type: string
                  market_count:
                    type: number
                  markets:
                    type: array
                    items:
                      type: object
                      additionalProperties: {}
                required:
                  - event_id
                  - id
                  - slug
                  - title
                  - subtitle
                  - description
                  - category
                  - subcategory
                  - image
                  - icon
                  - active
                  - closed
                  - neg_risk
                  - enable_neg_risk
                  - age_seconds
                  - available_windows
                  - metrics
                  - deltas
                  - tags
                  - market_count
                additionalProperties: {}
  /leaderboard/global:
    get:
      summary: Get the global leaderboard snapshot
      tags:
        - Leaderboard
      description: Returns top traders ranked by P&L. Use advanced=true to include risk-adjusted metrics (Sharpe, Sortino,
        Calmar, max drawdown, Kelly criterion, etc.). Supports sorting by any metric, filtering, and cursor-based
        pagination.
      parameters:
        - schema:
            default: 100
            type: integer
            minimum: 1
            maximum: 1000
          in: query
          name: limit
          required: false
        - schema:
            default: 0
            type: integer
            minimum: 0
            maximum: 9007199254740991
          in: query
          name: offset
          required: false
        - schema:
            type: string
          in: query
          name: cursor
          required: false
        - schema:
            default: pnl
            type: string
            enum:
              - pnl
              - total_pnl
              - overall_pnl
              - realized_pnl
              - win_rate
              - winRate
              - total_wins
              - totalWins
              - total_losses
              - totalLosses
              - current_value
              - currentValue
              - active_positions
              - activePositions
              - total_closed_positions
              - totalClosedPositions
              - volume
              - total_volume
              - totalVolume
              - position_count
              - positionCount
              - sharpe_ratio
              - sharpeRatio
              - sharpe
              - sortino_ratio
              - sortinoRatio
              - sortino
              - calmar_ratio
              - calmarRatio
              - calmar
              - max_drawdown
              - maxDrawdown
              - roi
              - smart_score
              - smartScore
              - score
              - confidence_score
              - confidenceScore
              - win_rate_weighted
              - winRateWeighted
          in: query
          name: sortBy
          required: false
          description: Sort field. pnl/total_pnl = total PnL, realized_pnl = realized only
        - schema:
            default: DESC
            type: string
            enum:
              - ASC
              - DESC
          in: query
          name: sortOrder
          required: false
        - schema:
            anyOf:
              - type: string
                enum:
                  - "true"
              - type: string
                enum:
                  - "false"
              - type: boolean
          in: query
          name: advanced
          required: false
        - schema:
            type: number
          in: query
          name: minVolume
          required: false
        - schema:
            type: number
          in: query
          name: maxVolume
          required: false
        - schema:
            type: number
          in: query
          name: minPnl
          required: false
        - schema:
            type: number
          in: query
          name: maxPnl
          required: false
        - schema:
            type: number
          in: query
          name: minSmartScore
          required: false
        - schema:
            type: number
          in: query
          name: maxSmartScore
          required: false
        - schema:
            type: number
          in: query
          name: minWinRate
          required: false
        - schema:
            type: number
          in: query
          name: maxWinRate
          required: false
        - schema:
            type: integer
            minimum: -9007199254740991
            maximum: 9007199254740991
          in: query
          name: minPositions
          required: false
        - schema:
            type: integer
            minimum: -9007199254740991
            maximum: 9007199254740991
          in: query
          name: maxPositions
          required: false
        - schema:
            anyOf:
              - type: string
                enum:
                  - "true"
              - type: string
                enum:
                  - "false"
              - type: boolean
          in: query
          name: isActive
          required: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          description: Wallet address
                        displayName:
                          description: Polymarket display name
                          type: string
                        avatarUrl:
                          description: Polymarket avatar URL
                          type: string
                        overallPnl:
                          type: number
                          description: Total PnL = realized + unrealized (matches Polymarket display)
                        winRate:
                          type: number
                          description: Win rate (0-1) from closed positions
                        totalWins:
                          type: number
                          description: Sum of positive realized PnL from closed positions
                        totalLosses:
                          type: number
                          description: Sum of absolute negative realized PnL from closed positions
                        currentValue:
                          type: number
                          description: Current portfolio value in USD
                        activePositions:
                          type: number
                          description: Number of active positions
                        totalClosedPositions:
                          description: Number of closed positions
                          type: number
                        updatedAt:
                          description: Last update timestamp
                          type: string
                        totalVolume:
                          type: number
                        positionCount:
                          type: number
                        avgPositionSize:
                          type: number
                        advanced:
                          type: object
                          properties:
                            sharpeRatio:
                              nullable: true
                              type: number
                            sortinoRatio:
                              nullable: true
                              type: number
                            calmarRatio:
                              nullable: true
                              type: number
                            maxDrawdown:
                              nullable: true
                              type: number
                            currentStreak:
                              nullable: true
                              type: number
                            bestStreak:
                              nullable: true
                              type: number
                            worstStreak:
                              nullable: true
                              type: number
                            roi:
                              nullable: true
                              type: number
                            kellyFraction:
                              nullable: true
                              type: number
                            avgEdge:
                              nullable: true
                              type: number
                            winRateWeighted:
                              nullable: true
                              type: number
                            bestTag:
                              nullable: true
                              type: string
                            bestTagPnl:
                              nullable: true
                              type: number
                            smartScore:
                              nullable: true
                              type: number
                            profitabilityScore:
                              nullable: true
                              type: number
                            riskEfficiencyScore:
                              nullable: true
                              type: number
                            confidenceScore:
                              nullable: true
                              type: number
                            isActive:
                              type: boolean
                            lastTradeAt:
                              nullable: true
                              type: string
                          required:
                            - sharpeRatio
                            - sortinoRatio
                            - calmarRatio
                            - maxDrawdown
                            - currentStreak
                            - bestStreak
                            - worstStreak
                            - roi
                            - kellyFraction
                            - avgEdge
                            - winRateWeighted
                            - bestTag
                            - bestTagPnl
                            - smartScore
                            - profitabilityScore
                            - riskEfficiencyScore
                            - confidenceScore
                            - isActive
                            - lastTradeAt
                          additionalProperties: false
                      required:
                        - address
                        - overallPnl
                        - winRate
                        - totalWins
                        - totalLosses
                        - currentValue
                        - activePositions
                      additionalProperties: false
                  total:
                    type: number
                  updatedAt:
                    type: string
                  nextCursor:
                    nullable: true
                    type: string
                required:
                  - rows
                  - total
                  - updatedAt
                additionalProperties: false
  /leaderboard/biggest-movers:
    get:
      summary: Get biggest PnL movers (winners and losers)
      tags:
        - Leaderboard
      description: Returns traders with the largest PnL gains and losses over a time window (1d, 1w, 1m).
      parameters:
        - schema:
            default: 1d
            type: string
            enum:
              - 1d
              - 1w
              - 1m
          in: query
          name: window
          required: false
        - schema:
            default: 10
            type: integer
            minimum: 1
            maximum: 50
          in: query
          name: limit
          required: false
        - schema:
            default: both
            type: string
            enum:
              - winners
              - losers
              - both
          in: query
          name: type
          required: false
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  window:
                    type: string
                  winners:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                        pnlChange:
                          type: number
                        currentPnl:
                          type: number
                        previousPnl:
                          type: number
                      required:
                        - address
                        - pnlChange
                        - currentPnl
                        - previousPnl
                      additionalProperties: false
                  losers:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                        pnlChange:
                          type: number
                        currentPnl:
                          type: number
                        previousPnl:
                          type: number
                      required:
                        - address
                        - pnlChange
                        - currentPnl
                        - previousPnl
                      additionalProperties: false
                  updatedAt:
                    type: string
                required:
                  - window
                  - winners
                  - losers
                  - updatedAt
                additionalProperties: false
  /wallets/{address}/similar:
    get:
      summary: Get similar wallets for an address
      tags:
        - Clusters
      description: Returns wallets with similar trading behavior based on hybrid similarity (60% behavioral/Jaccard + 40%
        funding/shared sources).
      parameters:
        - schema:
            anyOf:
              - type: string
              - type: number
          in: query
          name: limit
          required: false
        - schema:
            anyOf:
              - type: string
              - type: number
          in: query
          name: minSimilarity
          required: false
        - schema:
            type: string
            minLength: 1
          in: path
          name: address
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallet:
                    type: string
                  cluster:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      size:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                      - id
                      - size
                    additionalProperties: false
                  similarWallets:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                        jaccard:
                          type: number
                        sharedMarkets:
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        score:
                          type: number
                        hybridScore:
                          type: number
                        fundingLink:
                          type: object
                          properties:
                            sharedSources:
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            sharedVolume:
                              type: number
                            fundingScore:
                              type: number
                          required:
                            - sharedSources
                            - sharedVolume
                            - fundingScore
                          additionalProperties: false
                      required:
                        - address
                        - jaccard
                        - sharedMarkets
                        - score
                      additionalProperties: false
                  meta:
                    type: object
                    properties:
                      limit:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      minSimilarity:
                        type: number
                      totalSimilar:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      returnedCount:
                        type: integer
                        minimum: -9007199254740991
[...]
