openapi: 3.1.0
info:
  title: Klarity Kalshi API
  version: 1.0.0
  description: |
    Multi-platform prediction market analytics covering Kalshi and cross-platform market matching.

    This API provides access to Kalshi market data, real-time trades, OHLCV candlesticks, and cross-platform market matching with Polymarket.

    **Note:** These endpoints are served by the main API service.

servers:
  - url: https://api.klarity.trade
    description: Production API
  - url: http://localhost:8080
    description: Local Development

paths:
  /kalshi/markets:
    get:
      operationId: getKalshiMarkets
      summary: List Kalshi Markets
      description: |
        Get a paginated list of Kalshi prediction markets with filtering and sorting options.

        Returns aggregated market data including pricing, volume, and open interest from the latest snapshot.
      tags:
        - Kalshi Markets
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of results per page
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip for pagination
        - name: status
          in: query
          schema:
            type: string
            enum: [active, closed, determined, finalized, settled]
          description: Filter by market status
        - name: category
          in: query
          schema:
            type: string
          description: Filter by series category
        - name: eventTicker
          in: query
          schema:
            type: string
          description: Filter by specific event ticker
        - name: search
          in: query
          schema:
            type: string
            maxLength: 200
          description: Search in market titles (case-insensitive)
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [volume, volume_24h, open_interest, last_price, close_time]
            default: volume
          description: Field to sort by
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort order direction
      responses:
        '200':
          description: Successful response with markets list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KalshiMarketSummary'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /kalshi/markets/{ticker}:
    get:
      operationId: getKalshiMarketDetail
      summary: Get Kalshi Market Detail
      description: |
        Get detailed information for a specific Kalshi market including pricing, rules, and strike information.
      tags:
        - Kalshi Markets
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Kalshi market ticker (e.g., "USAYES", "INTC50")
      responses:
        '200':
          description: Market detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/KalshiMarketDetail'
        '404':
          description: Market not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /kalshi/markets/{ticker}/trades:
    get:
      operationId: getKalshiMarketTrades
      summary: Get Kalshi Market Trades
      description: |
        Get paginated trade history for a Kalshi market with optional time filtering.
      tags:
        - Kalshi Markets
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Kalshi market ticker
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of trades per page
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of trades to skip
        - name: since
          in: query
          schema:
            type: string
            format: date-time
          description: Filter trades after this ISO 8601 timestamp
      responses:
        '200':
          description: Trade history
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KalshiTrade'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /kalshi/markets/{ticker}/candlesticks:
    get:
      operationId: getKalshiCandlesticks
      summary: Get Kalshi Market Candlesticks
      description: |
        Get OHLCV candlestick data for a Kalshi market at specified interval.

        Intervals are in seconds (e.g., 60 for 1-minute, 3600 for 1-hour, 86400 for daily).
      tags:
        - Kalshi Markets
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Kalshi market ticker
        - name: interval
          in: query
          schema:
            type: integer
            minimum: 1
            default: 60
          description: Candlestick interval in seconds
        - name: since
          in: query
          schema:
            type: string
            format: date-time
          description: Filter candles after this ISO 8601 timestamp
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 200
          description: Maximum number of candles to return
      responses:
        '200':
          description: Candlestick data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Candlestick'
                  meta:
                    type: object
                    properties:
                      ticker:
                        type: string
                      interval:
                        type: integer
                      count:
                        type: integer
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /kalshi/markets/{ticker}/orderbook:
    get:
      operationId: getKalshiOrderbook
      summary: Get Kalshi Market Orderbook
      description: |
        Get the current orderbook (order levels) for a Kalshi market.

        Returns bid/ask levels for both YES and NO sides with price and quantity at each level.
      tags:
        - Kalshi Markets
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          description: Kalshi market ticker
        - name: depth
          in: query
          schema:
            type: integer
            minimum: 1
          description: Optional depth limit for orderbook levels
      responses:
        '200':
          description: Orderbook data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Orderbook'
        '404':
          description: Orderbook not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /kalshi/events:
    get:
      operationId: getKalshiEvents
      summary: List Kalshi Events
      description: |
        Get a paginated list of Kalshi events with optional filtering.

        Events are umbrella concepts that contain one or more markets.
      tags:
        - Kalshi Events
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of events per page
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of events to skip
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category
        - name: seriesTicker
          in: query
          schema:
            type: string
          description: Filter by series ticker
        - name: search
          in: query
          schema:
            type: string
            maxLength: 200
          description: Search in event titles
      responses:
        '200':
          description: Events list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KalshiEvent'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /kalshi/events/{eventTicker}:
    get:
      operationId: getKalshiEventDetail
      summary: Get Kalshi Event Detail
      description: |
        Get detailed information for a specific Kalshi event including all associated markets.
      tags:
        - Kalshi Events
      parameters:
        - name: eventTicker
          in: path
          required: true
          schema:
            type: string
          description: Kalshi event ticker
      responses:
        '200':
          description: Event detail with markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/KalshiEventDetail'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /kalshi/series:
    get:
      operationId: getKalshiSeries
      summary: List Kalshi Series
      description: |
        Get a paginated list of Kalshi series (market categories) with optional filtering.
      tags:
        - Kalshi Series
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of series per page
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of series to skip
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category
      responses:
        '200':
          description: Series list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KalshiSeries'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /cross-platform/matches:
    get:
      operationId: getCrossPlatformMatches
      summary: Cross-Platform Market Matches
      description: |
        Get matched markets between Kalshi and Polymarket based on semantic similarity.

        Uses Jaccard similarity on bigrams to identify related markets across platforms. Match scores range from 0 (no match) to 1 (perfect match).
      tags:
        - Cross-Platform
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of matches per page
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of matches to skip for pagination
        - name: minScore
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 1
            default: 0.35
          description: Minimum match score threshold
        - name: search
          in: query
          schema:
            type: string
            maxLength: 200
          description: Search in market titles
        - name: verifiedOnly
          in: query
          schema:
            type: boolean
          description: Show only manually verified matches
      responses:
        '200':
          description: Matched markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CrossPlatformMatch'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /cross-platform/arbitrage:
    get:
      operationId: getCrossPlatformArbitrage
      summary: Cross-Platform Arbitrage Opportunities
      description: |
        Get potential arbitrage opportunities between Kalshi and Polymarket for matched markets.

        Shows price divergence opportunities for markets that are matched across platforms. Note: Polymarket price data is currently under development.
      tags:
        - Cross-Platform
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of opportunities to return
        - name: minDivergence
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 1
            default: 0.03
          description: Minimum price divergence threshold
        - name: minScore
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 1
            default: 0.5
          description: Minimum match score threshold
      responses:
        '200':
          description: Arbitrage opportunities
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArbitrageOpportunity'
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      limit:
                        type: integer
                      minDivergence:
                        type: number
                      minScore:
                        type: number
                      note:
                        type: string
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    KalshiMarketSummary:
      type: object
      properties:
        ticker:
          type: string
          description: Market ticker
        eventTicker:
          type: string
          description: Associated event ticker
        seriesTicker:
          type: string
          description: Associated series ticker
        marketType:
          type: string
          description: Market type (e.g., "binary")
        title:
          type: string
          description: Market title
        subtitle:
          type: string
          nullable: true
          description: Optional subtitle
        status:
          type: string
          enum: [active, closed, determined, finalized, settled]
        result:
          type: string
          nullable: true
          description: Settlement result (null if not settled)
        pricing:
          type: object
          properties:
            yesBid:
              type: number
            yesAsk:
              type: number
            noBid:
              type: number
            noAsk:
              type: number
            lastPrice:
              type: number
        volume:
          type: number
          description: Total lifetime volume
        volume24h:
          type: number
          description: Volume in last 24 hours
        openInterest:
          type: number
          description: Current open interest
        liquidity:
          type: number
          description: Total liquidity
        openTime:
          type: string
          format: date-time
        closeTime:
          type: string
          format: date-time
        createdTime:
          type: string
          format: date-time

    KalshiMarketDetail:
      type: object
      properties:
        ticker:
          type: string
        eventTicker:
          type: string
        seriesTicker:
          type: string
        marketType:
          type: string
        title:
          type: string
        subtitle:
          type: string
          nullable: true
        yesSubTitle:
          type: string
          nullable: true
        noSubTitle:
          type: string
          nullable: true
        status:
          type: string
        result:
          type: string
          nullable: true
        canCloseEarly:
          type: boolean
        pricing:
          type: object
          properties:
            yesBid:
              type: number
            yesAsk:
              type: number
            noBid:
              type: number
            noAsk:
              type: number
            lastPrice:
              type: number
            previousPrice:
              type: number
            notionalValue:
              type: number
        volume:
          type: number
        volume24h:
          type: number
        openInterest:
          type: number
        liquidity:
          type: number
        rules:
          type: object
          properties:
            primary:
              type: string
              nullable: true
            secondary:
              type: string
              nullable: true
        strike:
          type: object
          properties:
            type:
              type: string
              nullable: true
            floor:
              type: number
              nullable: true
            cap:
              type: number
              nullable: true
        openTime:
          type: string
          format: date-time
        closeTime:
          type: string
          format: date-time
        latestExpirationTime:
          type: string
          format: date-time
        expectedExpirationTime:
          type: string
          format: date-time
        createdTime:
          type: string
          format: date-time

    KalshiTrade:
      type: object
      properties:
        tradeId:
          type: string
          description: Unique trade identifier
        ticker:
          type: string
          description: Market ticker
        count:
          type: number
          description: Number of shares traded
        yesPrice:
          type: number
          description: Yes side price
        noPrice:
          type: number
          description: No side price
        takerSide:
          type: string
          enum: [yes, no]
        createdTime:
          type: string
          format: date-time

    Candlestick:
      type: object
      properties:
        startTs:
          type: string
          format: date-time
          description: Candle open time
        endTs:
          type: string
          format: date-time
          description: Candle close time
        open:
          type: number
          description: Opening price
        high:
          type: number
          description: Highest price in period
        low:
          type: number
          description: Lowest price in period
        close:
          type: number
          description: Closing price
        volume:
          type: number
          description: Trading volume in period
        openInterest:
          type: number
          description: Open interest at end of period

    KalshiEvent:
      type: object
      properties:
        eventTicker:
          type: string
        seriesTicker:
          type: string
        title:
          type: string
        subTitle:
          type: string
          nullable: true
        category:
          type: string
        mutuallyExclusive:
          type: boolean

    KalshiEventDetail:
      type: object
      properties:
        eventTicker:
          type: string
        seriesTicker:
          type: string
        title:
          type: string
        subTitle:
          type: string
          nullable: true
        category:
          type: string
        mutuallyExclusive:
          type: boolean
        markets:
          type: array
          items:
            $ref: '#/components/schemas/KalshiEventMarket'

    KalshiEventMarket:
      type: object
      properties:
        ticker:
          type: string
        title:
          type: string
        status:
          type: string
        result:
          type: string
          nullable: true
        yesBid:
          type: number
        yesAsk:
          type: number
        lastPrice:
          type: number
        volume:
          type: number
        volume24h:
          type: number
        openInterest:
          type: number
        closeTime:
          type: string
          format: date-time

    KalshiSeries:
      type: object
      properties:
        ticker:
          type: string
        title:
          type: string
        category:
          type: string
        frequency:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string

    CrossPlatformMatch:
      type: object
      properties:
        kalshi:
          type: object
          properties:
            ticker:
              type: string
            eventTicker:
              type: string
            title:
              type: string
            price:
              type: number
              nullable: true
              description: Current market price (null if not available)
            volume:
              type: number
              nullable: true
              description: Trading volume (null if not available)
        polymarket:
          type: object
          properties:
            conditionId:
              type: string
            slug:
              type: string
            question:
              type: string
            price:
              type: number
              nullable: true
              description: Current market price (null if not available)
            volume:
              type: number
              nullable: true
              description: Trading volume (null if not available)
        divergence:
          type: object
          nullable: true
          properties:
            absolute:
              type: number
              description: Absolute price difference
            percent:
              type: number
              description: Percentage difference relative to max price
          description: Price divergence between platforms (null if either price unavailable)
        direction:
          type: string
          enum: [kalshi_higher, polymarket_higher]
          nullable: true
          description: Which platform has the higher price (null if prices unavailable)
        matchScore:
          type: number
          minimum: 0
          maximum: 1
          description: Semantic similarity score
        matchMethod:
          type: string
          description: Matching algorithm used
        verified:
          type: boolean
          description: Whether match has been manually verified

    ArbitrageOpportunity:
      type: object
      properties:
        kalshi:
          type: object
          properties:
            ticker:
              type: string
            title:
              type: string
            price:
              type: number
              description: Current yes price
            yesBid:
              type: number
              description: Best yes bid
            yesAsk:
              type: number
              description: Best yes ask
            volume:
              type: number
              description: Trading volume
        polymarket:
          type: object
          properties:
            conditionId:
              type: string
            slug:
              type: string
            question:
              type: string
            price:
              type: number
              description: Current yes price
            volume:
              type: number
              description: Trading volume
        divergence:
          type: object
          properties:
            absolute:
              type: number
              description: Absolute price difference
            percent:
              type: number
              description: Percentage difference (divergence threshold used for filtering)
        direction:
          type: string
          enum: [kalshi_higher, polymarket_higher]
          description: Which platform has the higher price
        matchScore:
          type: number
          minimum: 0
          maximum: 1
          description: Semantic similarity score
        verified:
          type: boolean
          description: Whether match has been manually verified

    Orderbook:
      type: object
      properties:
        ticker:
          type: string
          description: Kalshi market ticker
        yes:
          type: array
          items:
            $ref: '#/components/schemas/OrderbookLevel'
          description: YES side order levels (bids)
        no:
          type: array
          items:
            $ref: '#/components/schemas/OrderbookLevel'
          description: NO side order levels (asks)

    OrderbookLevel:
      type: object
      properties:
        price:
          type: number
          description: Price level
        quantity:
          type: number
          description: Quantity available at this price level

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
          description: Total count of available results
        count:
          type: integer
          description: Count of results in this response
        limit:
          type: integer
        offset:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        details:
          type: array
          items:
            type: object
          description: Validation error details
        traceId:
          type: string
          description: Request trace ID for debugging
